<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MemberMapper">
	<!-- mapper패키지의 MemberMapper.java 인터페이스 파일 생성하기 -->
	<select id="select" parameterType="map" resultType="Member">
		select * from joins
		<if test="id != null">
			where id=#{id}
		</if>
	</select>
</mapper>